<div class="row pb-3" style="width:90%; margin: 20px 80px 20px 90px">
    <div class="row px-4 pt-4 mb-4">
        <div class="col-8">
          <h4 class="text-dark">
            <b>Product List</b>
          </h4>
        </div>
        <div class="col-4 text-end">
           <div class="d-flex">
            <input [(ngModel)]="searchQuery" (input)="searchProducts()" placeholder="Search by Product Name..." class="form-control me-sm-2" />
            <button class="btn btn-secondary" (click)="searchProducts()">Search</button>
           </div>
        </div>
      </div>
    <hr />
    <div class="col-lg-3 col-md-6 mt-4" *ngFor="let product of products">
        <div class="row p-2">
            <div class="col-12 p-1 border rounded-2">
                <div>
                    <a [routerLink]="['/product-details', product.id]" style="text-decoration:none">
                        <div class="text-center">
                            <img style="height:340px; width:250px" [src]="product.image" alt="image" class="card-img-top rounded" />
                        </div>
                        <div class="mt-2 text-truncate text-dark h5 " style="max-width: 248px; margin-left: 10px;">
                            {{ product.title | titlecase }}
                            <div class="d-flex flex-row align-items-center">
                                <span class="text-success fw-bold me-lg-2">{{product.price | currency: 'INR'}}</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>