<div>
    <h3>Exercise-2</h3>
    <p>Hello, {{name}}</p><br>

    <h3>Exercise-3</h3>
    <!-- Here I ahve used interpolation to display color property. -->
    <p>The color property value is: {{color}}</p>

    <!-- Here I have used Property Binding to change color which is in the property -->
    <button class="button" [style.backgroundColor]="color">Button</button>

    <br><br>
    <h3>Exercise-4</h3>
    <!-- Here I have implemented Event binding to change change button color each time when button clicked. -->
    <button class="button" [style.backgroundColor]="newColour" (click) = "FunctionClick()">Click Here</button>
    <br><br>
    
    <app-nested [parentData]="parentMessage"></app-nested>
</div>